<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">

    <script type = "text/javascript" >
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
    </script>
</head>
<title>About the Author</title>
  <style>
    .div_title {
      background: linear-gradient(to bottom left,  #FFD662,#FFFF31, #F9D71C,#FFBF00,#FFDF00,#FCE205,#FFDB58,#FFF44F,#FFDB58,#FBB917,#FFFF31,#FFD662);
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      padding: 20px;
      text-align: center;
    }
  .container3 {
display: flex;
flex-direction: row;
width: 100%;
background: linear-gradient(to bottom right, #ffecb3, #f9fbe7, #e1f5fe, #d1c4e9, #f8bbd0);
/* background-color: #f9f9f9; */
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#author_photo {
flex: 20%;
display: flex;
justify-content: center;
align-items: center;
}

#author_details {
flex: 80%;
padding: 0 20px;
}

h2 {
text-align: center;
color: #333;
font-size: 24px;
margin-bottom: 20px;
}

#author_photo img {
border-radius: 50%;
max-width: 200px;
height: auto;
}

p {
line-height: 1.6;
color: #555;
margin-bottom: 15px;
}

strong {
color: #007bff;
font-weight: bold;
}
  </style>
</head>
<body>

  <div class="businessup-nav-widget-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 text-center-xs">
                <div class="navbar-header">
                    <a href="https://vnit.ac.in/cse/" class="navbar-brand" rel="home" aria-current="page">
                        <img src="cse_vnit_pic.jpg" />
                    </a>

                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="header-widget" style="padding-left: 50px;padding-top:10px;">
                  <form action="/" method="post" class="action-form">
                      <button style="float:right;" type="submit" class="btn btn-primary">DLMS</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>



 <div class="div_title">
   <center>
     <br>
     <h2>About the Author</h2>
   <br>
   <h3><strong style="color: #ae001a;">Kaustubh Shivshankar Shejole</strong></h3>
   </center>
 </div>
   <div class="container3">
     <div id="author_photo">
       <img src="/kaustubh_photo.jpg" alt="author photo">
     </div>
     <div id="author_details" style="display:block;">
       <p>Hello! I'm <strong style="color: #004d24;">Kaustubh Shivshankankar Shejole</strong>, a passionate student enrolled in the Computer Science and Engineering (CSE) department at VNIT Nagpur. My journey into the realm of technology and innovation began with a simple observation: the Department Library was managed offline, lacking a systematic approach. Determined to make a difference, I approached <strong style="color: #ff9933;">Aishwarya mam</strong> with the idea of creating a digital system for library management. Encouraged by her positive response, I sought guidance from <strong style="color: #E59BE9;">Mrs. Bharati Polke mam</strong>, who directed me to <strong style="color: #8644A2;">Mrs. Madhuri Pimple mam</strong>. Mrs. Pimple's unwavering support, guidance, and encouragement were instrumental in bringing this project to fruition. I am immensely grateful for her invaluable assistance.</p>
       <p>Utilizing my skills in MongoDB, Node.js, Express.js, EJS, JavaScript, HTML, and CSS, I developed a comprehensive system to streamline library operations effectively. Additionally, I'm proud to mention that my cumulative grade point average (CGPA) until the 8th Semester stands at <strong style="color: #50c878;">8.15</strong>. Furthermore, I achieved a remarkable Gate score of <strong style="color: #DD5746;">740</strong> with an All India Rank (AIR) of <strong style="color: #ccc0ba;">606</strong> in the year 2024.</p>
       <p>Looking ahead, I aspire to pursue higher education, driven by my passion for learning and innovation. I extend my heartfelt gratitude to the CSE department at VNIT Nagpur for their unwavering support throughout this endeavor. Special thanks are due to the instructors of the web programming course, whose guidance was pivotal in realizing this project.</p>
       <p>On a related note, I've also developed a fingerprint-based attendance system for first-year hostels, further showcasing my commitment to leveraging technology for practical solutions.</p>
       <p>I'm excited to continue my journey of exploration and innovation, driven by a desire to make a meaningful impact in the field of technology.</p>
       <p><strong style="color: #004d24;">GATE CS-IT:</strong> <span style="color: #DD5746;">740</span> (AIR <span style="color: #ae001a;">606</span>)</p>
       <p><strong style="color: #004d24;">Web Programming Course:</strong> AA (Both Courses)</p>
     </div>
 </div>
 </body>
 </html>
